.header-main-container {
  width: 100%;
  background-color: var(--dark-purple);
  min-height: 30vh;
}

.header-second-container {
  padding: 30px 30px 30px 140px;
}

.header-second-container-title {
  color: #ffffff;
  font-size: 26px;
}

.header-second-container-form {
  height: 28px;
  display: flex;
  align-content: baseline;
  margin-top: 20px;
}

.header-second-container-input {
  height: 100%;
  width: 600px;
  font-size: 16px;
  padding-left: 10px;
  margin-right: 15px;
}

.header-second-container-button {
  height: 35px;
  width: 200px;
  font-size: 16px;
  font-weight: 700;
  border-radius: 2px;
  color: var(--dark-purple);
  -webkit-font-smoothing: antialiased;
}
