.list-container {
  background-color: white;
  width: 90%;
  margin: auto;
  padding: 30px;
  border: 2px green solid;
}

.list-container-header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin: auto;
}

.list-container-header-part1 {
  width: 90%;
  display: flex;
  justify-content: space-between;
  background-color: #fafafa;
  border: 2px solid blue;
}
.list-container-header-part2 {
  border: 1px solid pink;
}

.list-container-header-title,
.list-container-list-items {
  padding: 20px;
  border: 2px black solid;
}

.list-container-list {
  widows: 70%;
  display: flex;
  justify-content: space-between;
}
