.list-container {
  background-color: white;
  width: 80%;
  margin: auto;
  margin-top: 100px;
  color: #858585;
}

.list-container-header {
  display: flex;
  margin: auto;
  background-color: #f5f5f5;
}

.list-container-header-part1,
.list-container-list-part1 {
  display: flex;
  flex-grow: 10;
  display: row;
}

.list-container-header-title-visit,
.list-container-list-items-visit {
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.list-container-header-title,
.list-container-list-items {
  padding: 20px;
  flex-grow: 1;
}

.list-container-list {
  display: flex;
  margin: auto;
  border-bottom: 1.5px #efefef solid;
}
